$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* 全局基础类库 */
@import "global";

/* 系统登录页 */
@import "pages/_login";

html,
body,
body > [ng-view] {
    height: 100%;
}

/* 低版本浏览器的升级提示样式 */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}